@import url(./style.css);
@import url(./responsive.css);
#menu{
    background-color: white;
    color: black;
    margin: 10px 0;
}
#menu h1{
    color: var(--green);
}
.menu-item{
    border: 1px solid var(--green);
}